<!-- SIGN UP FORM -->
<!-- SIGN UP FORM -->
<!-- SIGN UP FORM -->

<div class="log-container-up">

  <div id="login-box">
    <div class="left">
        <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name),html: {class: "form-signin"}) do |f| %>
          <%= f.error_notification %>
          <h2 class="form-signup-heading">Sign up</h2>
          <div class="form-inputs">
            <%= f.input :first_name,
                  required: true,
                  autofocus: true,
                  input_html: {autocomplete: "first name" }%>
            <%= f.input :last_name,
                  required: true,
                  autofocus: true,
                  input_html: {autocomplete: "last name" }%>
            <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email", class: 'form-control' } %>
            <%= f.input :password,
                  required: true,
                  input_html: { autocomplete: "current-password", class: 'form-control' } %>
            <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
            <label class="checkbox"></label>
          <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
    </div>

        <div class="form-actions">
          <%= f.button :submit,"Log in",class: 'btn btn-primary'  %>
        </div>
      <% end %>
    </div>
  </div>
</div>




