
<div class="container">
    <h1>Welcome <%= "#{current_user.first_name} #{current_user.last_name}"%></h1>
<div class="row">
  <div class="col-xs-12 col-sm-6">
    <div class="half-page-div apt-form">
      <h2 class= "text-center">Add a New Accomodation</h2>
      <hr>
       <%= render 'components/form_apt', apartment: @apartment %>
        </div>
  </div>
  <div class="col-xs-12 col-sm-6 narrow ">
    <div class="text-center">
    <h2>List of your accomodations</h2>
    <hr>
    <% @apartments.each do |apartment| %>
      <div class="card">
              <div id="carousel-example-generic<%= apartment.id %>" class="carousel slide card-body" data-ride="carousel" data-interval="">
                <!-- Indicators -->
  <!--               <ol class="carousel-indicators">
                  <li data-target="#carousel-example-generic<%= apartment.id %>" data-slide-to="0" class="active"></li>
                  <li data-target="#carousel-example-generic<%= apartment.id %>" data-slide-to="1"></li>
                </ol> -->

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                  <% if apartment.photos.length > 0 %>
                  <% apartment.photos.each_with_index do |p,i| %>
                    <% if i == 0 %>
                      <div class="item active">
                        <div class="card-body" style='background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(" <%= cl_image_path p.photo %>");'>
                          <span class="card-category">$ <%= apartment.price_per_day %>/day</span>
                          <div class="card-description">
                            <h2><%=apartment.name.truncate(15)%></h2>
                            <p>Charming room in <%= apartment.address %></p>
                          </div>
                          <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/random<%=  rand(5)%>">
                          <%= link_to "", apartment_path(apartment.id), class: "card-link" %>
                        </div>
                      </div>
                     <% else %>
                      <div class="item">
                        <div class="card-body" style='background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url(" <%= cl_image_path p.photo %>");'>
                          <span class="card-category">$ <%= apartment.price_per_day %>/day</span>
                          <div class="card-description">
                            <h2><%=apartment.name.truncate(15)%></h2>
                            <p>Charming room in <%= apartment.address %></p>
                          </div>
                          <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/random<%=  rand(5)%>">
                          <%= link_to "", apartment_path(apartment.id), class: "card-link" %>
                        </div>
                      </div>
                      <% end %>
                  <% end %>
                  <% else %>
                  <div class="item active">
                    <div class="card-body" style='background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.2)), url("");'>
                      <span class="card-category">$ <%= apartment.price_per_day %>/day</span>
                      <div class="card-description">
                        <h2><%=apartment.name.truncate(15)%></h2>
                        <p>Charming room in <%= apartment.address %></p>
                      </div>
                      <img class="card-user avatar" src="https://kitt.lewagon.com/placeholder/users/random<%=  rand(5)%>">
                      <%= link_to "", apartment_path(apartment.id), class: "card-link" %>
                    </div>
                  </div>
                  <% end %>
              </div>

                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-example-generic<%= apartment.id %>" role="button" data-slide="prev">
                  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="right carousel-control" href="#carousel-example-generic<%= apartment.id %>" role="button" data-slide="next">
                  <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
              </div>
              <div class="card-footer center-card-footer">
                <h5><%= link_to 'Modify', edit_apartment_path(apartment.id)%></h5>
              </div>
            </div>
    <% end %>
    </div>
  </div>
</div>
</div>


