  <div class="container">
    <h1>Your Trips</h1>
    <h2>Upcoming Trips</h2>
          <ul class = "inbox" style ="background:white;">
        <% @future_bookings.each do |booking| %>
          <li class = "message" >
            <%= cl_image_tag(booking.apartment.photos.first.photo, class: "avatar-large") %>
           <div class="message-name">
            <p><strong>Dates</strong></p>
            <p><%=booking.start_date %></p>
            <p><%= booking.end_date %></p>
            </div>
            <div class="message-body">
              <p><strong>Apartment: <%= booking.apartment.name %></strong></p>
              <p>Description: <%= booking.apartment.description %></p>
              <p># of Guests: <%= booking.number_guest %></p>
            </div>
            <div class="message-status">
              <p class="price">$<%= booking.total_price %></p>
            </div>
          </li>
        <% end %>
      </ul>
      <hr>
    <h2>Past Trips</h2>
      <ul class="inbox" style ="background:white;">
        <% @past_bookings.each do |booking| %>
           <li class = "message" >
            <%= cl_image_tag(booking.apartment.photos.first.photo, class: "avatar-large") %>
           <div class="message-name">
            <p><strong>Dates</strong></p>
            <p><%=booking.start_date %></p>
            <p><%= booking.end_date %></p>
            </div>
            <div class="message-body">
              <p><strong>Apartment: <%= booking.apartment.name %></strong></p>
              <p>Description: <%= booking.apartment.description %></p>
              <p># of Guests: <%= booking.number_guest %></p>
            </div>
            <div class="message-status">
              <% if booking.appt_reviews.length == 0 %>
                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#add-review<%= booking.id %>">
                  Add Review
                </button>
              <% end %>
              <p class="price">$<%= booking.total_price %></p>
            </div>
          </li>
            <div class="modal fade" id="add-review<%= booking.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
              <div class="modal-dialog" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">New Review</h4>
                  </div>
                  <div class="modal-body">
                     <%= simple_form_for [booking.apartment,booking, @appt_reviews] do |f| %>
                        <%= f.input :rating, collection: ApptReview::RATE %>
                        <%= f.input :comment, as: :text %>
                  
                      <%= f.button :submit, class: 'btn btn-create' %>
                    
                    <% end %>

                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        <% end %>
      </ul>
  </div>