<div class="wrapper">
  <div class="container">
    <h1>Appartements Search Page</h1>
    <%= form_tag apartments_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "form-control",
      placeholder: "Find an apartment by description"
    %>
  <% end %>
  <hr>
    <ul>
    <% @apartments.each do |apartment| %>
      <li>
        <h4>Description: <%= apartment.description %></h4>
        <h4>Address: <%= apartment.address %></h4>
        <h4>Equipments: </h4>
        <% apartment.equips.each do |equip| %>
            <p><%14.times do %>
              &nbsp
              <% end %>
              <%= equip.name.capitalize %></p>
          <% end %>
        <h4>Price/day: $<%= apartment.price_per_day %></h4>
        <h4>Service Fee: $<%= apartment.service_fees %></h4>
      </li>
    <% end %>
    </ul>
  </div>
</div>