

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h2>Add an accomodation</h2>

<%= simple_form_for(@apartment, :html => { :multipart => true }) do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :price_per_day %>
  <%= f.fields_for :photos do |p| %>
      <%= p.file_field :photo, :multiple => true %>
  <% end %>
    <%= f.button :submit, class: 'btn btn-create' %>
<% end %>


    </div>
  </div>
</div>

